---
import FeatureOverviewCardTitle from './FeatureOverviewCardTitle.astro';
import NavLink from '../NavLink.astro';
import type { LinkType, PlatformFeatureType } from '../../data/types';

const { icon, featuresSection } = Astro.props;
---

<div class="card">
	<FeatureOverviewCardTitle title="Features" icon={icon} />
	<div class="container">
		{
			featuresSection.features.map(
				({ name, links }: PlatformFeatureType, index: number) => {
					const isLastFeature = featuresSection.features.length - 1 === index;
					const isFirstFeatute = index === 0;
					const borderStyle = !isLastFeature && 'border-bottom';
					const paddingBlockStyle = isFirstFeatute && 'padding-block';

					return (
						<div class:list={['row', paddingBlockStyle, borderStyle]}>
							<h4>{name}</h4>
							<div class="links-grid">
								{links.map(({ href, title, target }: LinkType) => (
									<NavLink
										href={href}
										title={title}
										target={target}
										color="common"
									/>
								))}
							</div>
						</div>
					);
				}
			)
		}
	</div>
</div>

<style>
	.card {
		display: grid;
		grid-template-columns: repeat(1, 250px 1fr);
		column-gap: 1rem;
		padding: 40px 72px;
		border-radius: 8px;
		border: 1px solid var(--sl-home-page-overview-card-border-color);
		background-color: var(--sl-card-bg-color);
		box-shadow:
			0px 2px 4px 0px rgba(7, 8, 30, 0.04),
			0px 2px 8px 0px rgba(7, 8, 30, 0.08);
	}

	.container {
		width: 100%;
		margin: 0px;
	}

	.row {
		display: flex;
		flex-direction: column;
		margin: 0px;
		padding-block: 28px;
		column-gap: 1rem;
	}

	.padding-block {
		padding-block: 24px 28px;
	}

	.row > h4 {
		color: var(--sl-home-page-overview-card-title-color);
		font-family: 'RadikalTrial-Medium', system-ui;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.4em;
	}

	.border-bottom {
		border-bottom: 1px solid var(--sl-home-page-overview-card-devider-color);
	}

	.links-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 28px;
		column-gap: 32px;
		margin-top: 30px;
	}

	@media screen and (max-width: 1024px) {
		.card {
			grid-template-columns: none;
			grid-template-rows: auto auto;
			row-gap: 8px;
			padding: 32px 56px;
		}
	}

	@media screen and (max-width: 768px) {
		.card {
			padding: 22px;
		}

		.row {
			padding-block: 24px;
		}

		.padding-block {
			padding-block: 8px 24px;
		}

		.row > h4 {
			font-size: 19px;
		}

		.links-grid {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 20px;
			row-gap: 1rem;
		}
	}

	@media screen and (max-width: 480px) {
		.links-grid {
			grid-template-columns: none;
			row-gap: 1.2rem;
		}
	}

	@media screen and (max-width: 380px) {
		.card {
			padding: 18px;
		}

		.row > h4 {
			font-size: 18px;
		}
	}
</style>
